@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: black;
    overflow-x: hidden;
    padding-bottom: 1000px;
}

nav {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #1f1927;
    align-items: center;
    padding: 0 40px;
    position: relative;
}

nav h1 {
    color: white;
    font-size: 2.5em;
    font-family: 'Asap Condensed',sans-serif;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    position: absolute;
    top: 0;
    right: 20px;
}

nav ul li {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    transition: .5s;
}

nav ul li a {
    color: white;
    font-size: 1.5em;
    font-family: 'Asap Condensed', sans-serif;
}

nav ul li:hover {
    background-color:#291e38;
}

nav ul li a:hover {
    color: #0a0000;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
    cursor: pointer;
}

.menu-toggle input {
    display: none;
}

.menu-toggle span {
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 3px;
    background-color: #ffffff;
    transition: all .5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}


.leaves {
    width: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#333, #000);
    position: static;
    z-index: -1000;
    margin-bottom: 200px;
}


.leaves h2 {
    color: #fff;
    font-size: 8em;
    text-transform: uppercase;
}


.leaves .set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.leaves .set div {
    position: absolute;
    display: block;
}

.leaves .set div:nth-child(1) {
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}

.leaves .set div:nth-child(2) {
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}

.leaves .set div:nth-child(3) {
    left: 70%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}

.leaves .set div:nth-child(4) {
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}

.leaves .set div:nth-child(5) {
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}

.leaves .set div:nth-child(6) {
    left: 0%;
    animation: animate 12s linear infinite;
}

.leaves .set div:nth-child(7) {
    left: 15%;
    animation: animate 14s linear infinite;
    animation-delay: -7s;
}

.leaves .set div:nth-child(8) {
    left: 60%;
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }
    
    10% {
        opacity: 1;
    }

    20% {
        transform: translateX(-20px) rotate(45deg);
    }

    40% {
        transform: translateX(-20px) rotate(90deg);
    }

    60% {
        transform: translateX(20px) rotate(100deg);
    }

    80% {
        transform: translateX(-20px) rotate(100deg);
    }

    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

.set2 {
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
}

.set3 {
    transform: scale(0.8) rotateX(180deg);
    filter: blur(4px);
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animationRotationEffect 20s linear infinite;
}

@keyframes animationRotationEffect {
    0% {
        transform: perspective(1000px) rotateX(0deg) rotateY(40deg);
    }

    100% {
        transform: perspective(1000px) rotateX(360deg) rotateY(40deg);
    }
}

.img-rotate {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 450px;
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(calc(var(--i) * 45deg)) translateZ(300px);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-slice {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 700px;
    background: #222;
    transform: scale(.95);
    background-image: url('img/thumbs4.jpg');
    background-size: cover;
}

.img-slice .clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.img-slice .clip.clip1 {
    background: url(img/thumbs1.jpg);
    clip-path: polygon(0 0, 56% 0, 26% 100%, 0% 100%);
    background-size: cover;
}

.img-slice .clip.clip2 {
    background: url(img/thumbs2.jpg);
    background-size: cover;
    clip-path: polygon(55% 0, 100% 0, 45% 100%, 19% 100%);
}

.img-slice .clip.clip3 {
    background: url(img/thumbs3.jpg);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}

.img-slice:hover .clip {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.img-slice .clip:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


/* Ukuran Tablet */
@media screen and (max-width:768px) {
    nav ul li{
        padding: 16px 10px;
    }
    .img-slice {
        position: relative;
        width: 800px;
        height: 300px;
        background: #222;
        transform: scale(.95) translateX(-3px);
        background-image: url('img/thumbs4.jpg');
        background-size: cover;
    }
}

/* Ukura Mobile */
@media screen and (max-width:576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        left: 0;
        top: 60px;
        display: flex;
        flex-direction: column;
        background-color: #1f1927;
        width: 100%;
        transform: translateY(-100%);
        transition: all .9s;
        opacity: 0;
        z-index: -1;
    }
    nav ul li {
        justify-content: center;
    }
    nav ul.active {
        transform: translate(0);
        opacity: 1;
    }
    .leaves h2 {
        font-size: 5em;
        text-align: center;
    }

    .img-slice {
        position: relative;
        width: 560px;
        margin: 0 auto;
        height: 400px;
        background: #222;
        transform: scale(.95) translateX(-3px);
        background-image: url('img/thumbs4.jpg');
        background-size: cover;
    }

    .img-rotate {
        transform: scale(.8);
    }
    
}

